body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

button:hover {
	cursor: pointer;
}

#login-form {
	display: flex;
	justify-content: center;
	height: 132px;
}

.login-input-box {
	display: grid;
	height: 140px;
}

.login-input-box>input {
	width: 320px;
	height: 40px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 4px;
	font-family: 'Noto Sans KR', sans-serif;
}

.login-input-box>input:last-child {
	margin-top: 10px;
}

.login-input-box:placeholder {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
}

#login-btn {
	width: 326px;
	height: 40px;
	border: 1px solid #368AFF;
	border-radius: 4px;
	background-color: #368AFF;
	color: white;
	font-size: 17px;
	font-weight: bold;
}

#login-btn:hover {
	cursor: pointer;
}

.login-option {
	font-size: 16px;
	color: gray;
}

.ml-15 {
	margin-left: 15px;
}

.login {
	color: black;
	font-size: 27px;
	margin-bottom: 40px;
	font-weight: bold;
}

.login-comment {
	font-weight: bold;
	color: red;
	visibility: hidden;
	font-size: 12px;
	text-align: left;
	margin-bottom: 9px;
}

.mainlogin {
	width: 100%;
	height: 600px;
	background-color: white;
	font-family: 'Noto Sans KR', sans-serif;
}

.mainheader {
	text-align: center;
	width: 563px;
	height: 300px;
	margin: auto;
}

.mainheight100 {
	height: 100px;
}

.mainheight60 {
	height: 60px;
}

.idpw_search {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.margin-l_co {
	color: gray;
	margin-left: 15px;
}