a {
	text-decoration: none;
}
body {
	width: 1920px;
	overflow-x: hidden;
}
/* ------------------------- write.jsp ----------------------------- */
.wrap {
	width: 1080px;
	margin: 0 auto;
}
.ck-editor__editable {
	min-height: 300px;
}
#editor {
	width: 100%;
}
#title {
	width: 1072px;
    height: 30px;
    font-size: 18px;
    color: gray;
}
.note-editor {
	margin-top: 50px;
}
.write-btn-box {
	margin-top: 20px;
    float: right;
}
#write-btn {
	width: 100px;
    height: 35px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #D1B2FF;
    color: #9B7CC9;
}
button:hover {
	cursor: pointer;
}
.status-box {
	margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.status-comment {
	color: #9B7CC9;
    font-weight: bold;
    margin-right: 5px;
}
#status {
	width: 17px;
    height: 17px;
}

/* --------------------- list.jsp --------------------------- */
.sugg-line {
	display: flex;
    align-items: center;
	height: 50px;
    border-top: 1px solid #A566FF;
    color: #D5D5D5;
}
.sugg-line:hover {
	background-color: #BDBDBD;
	color: #4C4C4C;
}
.sugg-line:hover a {
	color: #4C4C4C !important;
}
.sugg-line-non {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-top: 1px solid #A566FF;
    color: #D5D5D5;
    font-size: 18px;
}
.sugg-line-a {
	color: #D5D5D5 !important;
}
.non-line {
	background-color: #D14F4F;
}
.non-line:hover {
	background-color: #FFD8D8;
}
.sugg-line:last-child {
	border-bottom: 1px solid #A566FF;
}
.sugg-search-box {
	display: flex;
	justify-content: end;
	align-items: center;
}
.search-comment {
	font-size: 20px;
    color: #9B7CC9;
    font-weight: bold;
    margin-right: 20px;
}
#search {
	width: 200px;
    height: 17px;
    margin-right: 10px;
    border: 1px solid #A6A6A6;
    background-color: #F6F6F6;
}
/*
.search-btn {
	background: #fff;
    border: 1px solid #9B7CC9;
    width: 60px;
    height: 23px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D1B2FF;
}
*/
.search-btn-box:hover {
	cursor: pointer;
}
.search-img {
	width: 22px;
}
.pageing-box {
	margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.pageing-box a {
	color: gray;
}
.current-page {
	color: #F6F6F6 !important;
}
.list-write-btn-box {
	margin-top: 20px;
    display: flex;
    justify-content: end;
}
.list-write-btn {
	background-color: #fff;
    color: #A566FF;
    border: 1px solid #9B7CC9;
    width: 80px;
    height: 28px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-head-box {
	display: flex;
	margin-top: 50px;
}
.list-head-box>div:hover {
	cursor: pointer;
}
.non-list-select {
	width: 200px;
    height: 50px;
    border: 1px solid gray;
    font-size: 17px;
}
.non-list-select>a {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: skyblue;
}
.list-select {
	width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 17px;
	background-color: darkblue;
    color: #fff;
}
/* -------------------------- info.jsp -------------------------------- */
.info-head-title {
	display: flex;
    padding: 15px 0 15px 5px;
}
.info-title {
	font-size: 22px;
    color: #F6F6F6;
}
.info-head-sub {
	display: flex;
    font-size: 16px;
    color: #F6F6F6;
    border-top: 1px solid #A566FF;
    border-bottom: 1px solid #A566FF;
	padding: 15px 0 10px 5px;
}
.info-sub {
	width: 4%;
    text-align: center;
}
.info-content {
	min-height: 350px;
	padding: 15px 10px;
	border-bottom: 1px solid #A566FF;
	background-color: #EAEAEA;
}
.info-btn-box {
	margin-top: 20px;
    display: flex;
    justify-content: end;
}
.info-btn-box>button {
	width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #D1B2FF;
    color: #9B7CC9;
	margin: 0 10px;
}
.info-btn-box>button:last-child {
	margin-right: 0;
}
.answer-title {
	font-size: 32px;
    font-weight: bold;
    color: #9B7CC9;
    margin-bottom: -15px;
    margin-top: 15px;
}